@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #414559 !important;
    --zen-primary-color: #eebebe !important;
    --zen-colors-secondary: #414559 !important;
    --zen-colors-tertiary: #292c3c !important;
    --zen-colors-border: #eebebe !important;
    --toolbarbutton-icon-fill: #eebebe !important;
    --lwt-text-color: #c6d0f5 !important;
    --toolbar-field-color: #c6d0f5 !important;
    --tab-selected-textcolor: rgb(218, 199, 217) !important;
    --toolbar-field-focus-color: #c6d0f5 !important;
    --toolbar-color: #c6d0f5 !important;
    --newtab-text-primary-color: #c6d0f5 !important;
    --arrowpanel-color: #c6d0f5 !important;
    --arrowpanel-background: #303446 !important;
    --sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-background-color: #232634 !important;
    --toolbar-bgcolor: #414559 !important;
    --newtab-background-color: #303446 !important;
    --zen-themed-toolbar-bg: #292c3c !important;
    --zen-main-browser-background: #292c3c !important;

  }

  #permissions-granted-icon{
    color: #292c3c !important;
  }

  .sidebar-placesTree {
    background-color: #303446 !important;
  }

  #zen-workspaces-button {
    background-color: #303446 !important;
  }

  #TabsToolbar {
    background-color: #292c3c !important;
  }

  #urlbar-background {
    background-color: #303446 !important;
  }

  .content-shortcuts {
    background-color: #303446 !important;
    border-color: #eebebe !important;
  }

  .urlbarView-url {
    color: #eebebe !important;
  }
  
  #zenEditBookmarkPanelFaviconContainer {
    background: #232634 !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #232634;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #8caaee !important;
    --identity-icon-color: #8caaee !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #81c8be !important;
    --identity-icon-color: #81c8be !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6d189 !important;
    --identity-icon-color: #a6d189 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e5c890 !important;
    --identity-icon-color: #e5c890 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ef9f76 !important;
    --identity-icon-color: #ef9f76 !important;
  }

  .identity-color-red {
    --identity-tab-color: #e78284 !important;
    --identity-icon-color: #e78284 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f4b8e4 !important;
    --identity-icon-color: #f4b8e4 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #ca9ee6 !important;
    --identity-icon-color: #ca9ee6 !important;
  }

}


#PanelUI-menu-button {
    padding-inline-end: 20px !important;
  }
/* Macos style buttons  */
.titlebar-buttonbox{
  border: 1px solid black !important;
  border-radius: 5px !important;
  position: relative !important;
}
.titlebar-buttonbox .titlebar-button {
  background: hsl(228, 13%, 40%) !important;
}
.titlebar-button{
  padding: 8px 4px 10px 10px !important;
}
.titlebar-button > .toolbarbutton-icon {
  display: flex !important;
  width: 14px !important;
  height: 14px !important;
  border-radius: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none !important;
  transition: all 0.3s ease !important;
  cursor: pointer !important;
  justify-content: center !important;
  align-items: center !important;
}
.titlebar-min > .toolbarbutton-icon {
  background: #ebb51f !important;
  border: 1px solid #ffbb00 !important;
}
.titlebar-max > .toolbarbutton-icon,
.titlebar-restore > .toolbarbutton-icon {
  background: #16dc16dd !important;
  border: 1px solid #00ff00 !important;
}
.titlebar-close > .toolbarbutton-icon {
  background: #e71d27dd !important;
  border: 1px solid #ff000d !important;
}
/* Codes below are not working properly.  */
/* .titlebar-close:hover > .toolbarbutton-icon::before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 20px !important;
  color: #020202 !important;
  opacity: 1 !important;
}
.titlebar-max:hover > .toolbarbutton-icon::before,
.titlebar-restore:hover > .toolbarbutton-icon::before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 20px !important;
  color: #000000 !important;
  opacity: 1 !important;
}
.titlebar-min:hover > .toolbarbutton-icon::before {
  content: '' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 20px !important;
  color: #000000 !important;
  opacity: 1 !important;
}
.titlebar-min:hover > .toolbarbutton-icon::after {
  content: '—' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 10px !important;
  color: #000000 !important;
  opacity: 1 !important;
  z-index: 10 !important;
}
.titlebar-max:hover > .toolbarbutton-icon::after,
.titlebar-restore:hover > .toolbarbutton-icon::after {
  content: '□' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 10px !important;
  color: #000000 !important;
  opacity: 1 !important;
  z-index: 10 !important;
}
.titlebar-close:hover > .toolbarbutton-icon::before {
  content: 'X' !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  font-size: 10px !important;
  color: #000000 !important;
  opacity: 1 !important;
  z-index: 10 !important;
} */
