/* Catppuccin Frappe Flamingo userChrome.css*/
@import "bubble-clean/bubble-clean.css";
@media (prefers-color-scheme: dark) {

  :root {
    --zen-colors-primary: #414559 !important;
    --zen-primary-color: #eebebe !important;
    --zen-colors-secondary: #414559 !important;
    --zen-colors-tertiary: #292c3c !important;
    --zen-colors-border: #eebebe !important;
    --toolbarbutton-icon-fill: #eebebe !important;
    --lwt-text-color: #c6d0f5 !important;
    --toolbar-field-color: #c6d0f5 !important;
    --tab-selected-textcolor: rgb(218, 199, 217) !important;
    --toolbar-field-focus-color: #c6d0f5 !important;
    --toolbar-color: #c6d0f5 !important;
    --newtab-text-primary-color: #c6d0f5 !important;
    --arrowpanel-color: #c6d0f5 !important;
    --arrowpanel-background: #303446 !important;
    --sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-text-color: #c6d0f5 !important;
    --lwt-sidebar-background-color: #232634 !important;
    --toolbar-bgcolor: #414559 !important;
    --newtab-background-color: #303446 !important;
    --zen-themed-toolbar-bg: #292c3c !important;
    --zen-main-browser-background: #292c3c !important;
    --toolbox-bgcolor-inactive: #292c3c !important;
  }

  #permissions-granted-icon{
    color: #292c3c !important;
  }

  .sidebar-placesTree {
    background-color: #303446 !important;
  }

  #zen-workspaces-button {
    background-color: #303446 !important;
  }

  #TabsToolbar {
    background-color: #292c3c !important;
  }

  #urlbar-background {
    background-color: #303446 !important;
  }

  .content-shortcuts {
    background-color: #303446 !important;
    border-color: #eebebe !important;
  }

  .urlbarView-url {
    color: #eebebe !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #232634 !important;
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked]) > :is(.toolbarbutton-icon, .toolbarbutton-text, .toolbarbutton-badge-stack){
        fill: #232634;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #8caaee !important;
    --identity-icon-color: #8caaee !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #81c8be !important;
    --identity-icon-color: #81c8be !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6d189 !important;
    --identity-icon-color: #a6d189 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #e5c890 !important;
    --identity-icon-color: #e5c890 !important;
  }

  .identity-color-orange {
    --identity-tab-color: #ef9f76 !important;
    --identity-icon-color: #ef9f76 !important;
  }

  .identity-color-red {
    --identity-tab-color: #e78284 !important;
    --identity-icon-color: #e78284 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f4b8e4 !important;
    --identity-icon-color: #f4b8e4 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #ca9ee6 !important;
    --identity-icon-color: #ca9ee6 !important;
  }
}
/* urlbar centered text */
#urlbar-input { 
  	text-align: center !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	color: rgb(255, 212, 212) !important; 
}
/* Macos button animations */
#PanelUI-menu-button {
  padding-inline-end: 10px !important;
}

.titlebar-buttonbox{
  border: 1px solid black !important;
}
.titlebar-button{
  padding: 8px 6px 8px 8px !important;
}
.titlebar-buttonbox-container .titlebar-buttonbox .titlebar-button{
  position: relative !important;
  cursor: pointer !important;
}
.titlebar-buttonbox > .titlebar-button {
  background: hsl(228, 13%, 40%) !important;
}

.titlebar-button > .toolbarbutton-icon {
  display: flex !important;
  min-height: 1.2em !important;
  min-width: 1.2em !important;
  border-radius: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none !important;
  justify-content: center !important;
  align-items: center !important;
  stroke: none !important;
}
.titlebar-button > .toolbarbutton-icon::before,
.titlebar-button > .toolbarbutton-icon::after {
  border-radius: 50% !important;
}
/* Macos min button */
.titlebar-min > .toolbarbutton-icon {
  background: hsla(44, 100%, 52%, 0.954) !important;
  border: 1px solid #ffbb00 !important;
  overflow: hidden !important;
  transition: all 400ms ease-in-out !important;
}

.titlebar-min::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 2px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
  	transition: background 200ms ease-in-out !important;
}
.titlebar-min:hover::before{
	opacity: 1;
	top: 50%;
}
/* Macos restore button  and Macos max button */ 
.titlebar-max > .toolbarbutton-icon,
.titlebar-restore > .toolbarbutton-icon {
  background: hsla(120, 94%, 49%, 0.867) !important;
  border: 1px solid #00ff00 !important;
  overflow: hidden !important;
  transition:  all 400ms ease-in-out !important;
}
.titlebar-restore::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 53%;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
}
.titlebar-restore::after{
  	content: '';
	position: absolute;
	top: 100%;
	left: 53%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 6px;
	opacity: 0;
	background: #39ea49;
}
.titlebar-restore:hover::before, 
.titlebar-restore:hover::after{
	opacity: 1;
	top: 50%;
}
.titlebar-max::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 52%;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
}
.titlebar-max::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 52%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 4px;
	height: 35%;
	opacity: 0;
	background: #39ea49;
}
.titlebar-max:hover::before, 
.titlebar-max:hover::after{
	opacity: 1;
	top: 50%;
}
/* Macos close button */
.titlebar-close > .toolbarbutton-icon{
  background: hsla(357, 97%, 52%, 0.867) !important;
  border: 1px solid #ff000d !important;
  overflow: hidden !important;
  transition: all 400ms ease-in-out !important;
}

.titlebar-close::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 2px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 1px;
}
.titlebar-close::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 2px;
	height: 9px;
  	opacity: 0;
	background: rgb(0, 0, 0);
  	border-radius: 1px;
}
.titlebar-close:hover::before,  
.titlebar-close:hover::after{
	opacity: 1;
	top: 50%;
}
