
@import "bubble-clean/bubble-clean.css";
/* Catppuccin Mocha Flamingo userChrome.css*/

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #313244 !important;
    --zen-primary-color: #f2cdcd !important;
    --zen-colors-secondary: #313244 !important;
    --zen-colors-tertiary: #181825 !important;
    --zen-colors-border: #f2cdcd !important;
    --toolbarbutton-icon-fill: #f2cdcd !important;
    --lwt-text-color: #cdd6f4 !important;
    --toolbar-field-color: #cdd6f4 !important;
    --tab-selected-textcolor: rgb(223, 210, 225) !important;
    --toolbar-field-focus-color: #cdd6f4 !important;
    --toolbar-color: #cdd6f4 !important;
    --newtab-text-primary-color: #cdd6f4 !important;
    --arrowpanel-color: #cdd6f4 !important;
    --arrowpanel-background: #1e1e2e !important;
    --sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-text-color: #cdd6f4 !important;
    --lwt-sidebar-background-color: #11111b !important;
    --toolbar-bgcolor: #313244 !important;
    --newtab-background-color: #1e1e2e !important;
    --zen-themed-toolbar-bg: #181825 !important;
    --zen-main-browser-background: #181825 !important;
    --toolbox-bgcolor-inactive: #181825 !important;
  }

  #permissions-granted-icon{
    color: #181825 !important;
  }

  .sidebar-placesTree {
    background-color: #1e1e2e !important;
  }

  #zen-workspaces-button {
    background-color: #1e1e2e !important;
  }

  #TabsToolbar {
    background-color: #181825 !important;
  }

  #urlbar-background {
    background-color: #1e1e2e !important;
  }

  .content-shortcuts {
    background-color: #1e1e2e !important;
    border-color: #f2cdcd !important;
  }

  .urlbarView-url {
    color: #f2cdcd !important;
  }

  #zenEditBookmarkPanelFaviconContainer {
    background: #11111b !important;
  }

  #zen-media-controls-toolbar {
    & #zen-media-progress-bar {
      &::-moz-range-track {
        background: #313244 !important;
      }
    }
  }

  toolbar .toolbarbutton-1 {
    &:not([disabled]) {
      &:is([open], [checked])
        > :is(
          .toolbarbutton-icon,
          .toolbarbutton-text,
          .toolbarbutton-badge-stack
        ) {
        fill: #11111b;
      }
    }
  }

  .identity-color-blue {
    --identity-tab-color: #89b4fa !important;
    --identity-icon-color: #89b4fa !important;
  }

  .identity-color-turquoise {
    --identity-tab-color: #94e2d5 !important;
    --identity-icon-color: #94e2d5 !important;
  }

  .identity-color-green {
    --identity-tab-color: #a6e3a1 !important;
    --identity-icon-color: #a6e3a1 !important;
  }

  .identity-color-yellow {
    --identity-tab-color: #f9e2af !important;
    --identity-icon-color: #f9e2af !important;
  }

  .identity-color-orange {
    --identity-tab-color: #fab387 !important;
    --identity-icon-color: #fab387 !important;
  }

  .identity-color-red {
    --identity-tab-color: #f38ba8 !important;
    --identity-icon-color: #f38ba8 !important;
  }

  .identity-color-pink {
    --identity-tab-color: #f5c2e7 !important;
    --identity-icon-color: #f5c2e7 !important;
  }

  .identity-color-purple {
    --identity-tab-color: #cba6f7 !important;
    --identity-icon-color: #cba6f7 !important;
  }
}
/* urlbar centered text */
#urlbar-input { 
  	text-align: center !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif !important;
	color: rgb(255, 212, 212) !important; 
}
/* Macos button animations */
#PanelUI-menu-button {
  padding-inline-end: 10px !important;
}

.titlebar-buttonbox{
  border: 1px solid black !important;
}
.titlebar-button{
  padding: 8px 6px 8px 8px !important;
}
.titlebar-buttonbox-container .titlebar-buttonbox .titlebar-button{
  position: relative !important;
  cursor: pointer !important;
}
.titlebar-buttonbox > .titlebar-button {
  background: hsl(227, 16%, 18%) !important;
}

.titlebar-button > .toolbarbutton-icon {
  display: flex !important;
  min-height: 1.2em !important;
  min-width: 1.2em !important;
  border-radius: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  list-style-image: none !important;
  justify-content: center !important;
  align-items: center !important;
  stroke: none !important;
}
.titlebar-button > .toolbarbutton-icon::before,
.titlebar-button > .toolbarbutton-icon::after {
  border-radius: 50% !important;
}
/* Macos min button */
.titlebar-min > .toolbarbutton-icon {
  background: hsla(44, 100%, 52%, 0.954) !important;
  border: 1px solid #ffbb00 !important;
  overflow: hidden !important;
  transition: all 400ms ease-in-out !important;
}

/* New additions 25-07-2025 */
.titlebar-min,
.titlebar-max,
.titlebar-restore,
.titlebar-close{
  content: '' !important;
}
.titlebar-min::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 2px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
  	transition: background 200ms ease-in-out !important;
}
.titlebar-min:hover::before{
	opacity: 1;
	top: 50%;
}
/* Macos restore button  and Macos max button */ 
.titlebar-max > .toolbarbutton-icon,
.titlebar-restore > .toolbarbutton-icon {
  background: hsla(120, 94%, 49%, 0.867) !important;
  border: 1px solid #00ff00 !important;
  overflow: hidden !important;
  transition:  all 400ms ease-in-out !important;
}
.titlebar-restore::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 53%;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
}
.titlebar-restore::after{
  	content: '';
	position: absolute;
	top: 100%;
	left: 53%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 6px;
	opacity: 0;
	background: #39ea49;
}
.titlebar-restore:hover::before, 
.titlebar-restore:hover::after{
	opacity: 1;
	top: 50%;
}
.titlebar-max::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 52%;
	transform: translate(-50%, -50%);
	width: 9px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 2px;
}
.titlebar-max::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 52%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 4px;
	height: 35%;
	opacity: 0;
	background: #39ea49;
}
.titlebar-max:hover::before, 
.titlebar-max:hover::after{
	opacity: 1;
	top: 50%;
}
/* Macos close button */
.titlebar-close > .toolbarbutton-icon{
  background: hsla(357, 97%, 52%, 0.867) !important;
  border: 1px solid #ff000d !important;
  overflow: hidden !important;
  transition: all 400ms ease-in-out !important;
}

.titlebar-close::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%) rotate(-45deg);
	width: 2px;
	height: 9px;
	opacity: 0;
	background:  rgb(0, 0, 0);
  	border-radius: 1px;
}
.titlebar-close::after{
	content: '';
	position: absolute;
	top: 100%;
	left: 55%;
	transform: translate(-50%, -50%) rotate(45deg);
	width: 2px;
	height: 9px;
  	opacity: 0;
	background: rgb(0, 0, 0);
  	border-radius: 1px;
}
.titlebar-close:hover::before,  
.titlebar-close:hover::after{
	opacity: 1;
	top: 50%;
}
/* Menu Button added If you want to revert it to Zen icon just comment the next code line or delete it */
#PanelUI-menu-button, #zen-workspace-actions-menu-icon {
  list-style-image: url('menu-dots-svgrepo-com\(1\).svg') !important;
}
/*****************/

/* [Config] Now playing indicator is added here. Credit  to @benstone326
Also i have added this because only half of his mod is working. Other part is already added with zen's default style. */

@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
	.tabbrowser-tab:is([soundplaying], [muted]) {
		& .tab-background::after {
			content:'';
			position: absolute;
			width: 4px !important;
			border-radius: 4px !important;
			height: 66.66% !important;
			top: 50%;
			left: calc(100% - 4px) !important;
			transform: translateY(-50%);
			background-color: var(--zen-primary-color) !important;
		}
	
		&:not([selected='true']) .tab-background::after{
			height: 33.33% !important;
		}
		
		&:not([selected='true']):hover .tab-background::after{
			height: 66.66% !important;
		}
	}
}
/* ***************** */
/* Downloads Indicator Progress Outer. Credit to @different55 */

#downloads-indicator-progress-outer::after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  z-index: -40;
  background: var(--toolbar-field-background-color);
}

/* ***************** */
.urlbarView-title{
  color: #f8eded !important;
}


#urlbar[breakout-extend="true"] {
  & .urlbar-background {
    --zen-urlbar-background-base: light-dark( white, color-mix(in srgb, hsl(0, 0%, 1%), var(--zen-colors-primary) 25%) );
    opacity: 0.7;
  }
}

