/* --- Context Menu --- */
menupopup,
panel {
  --panel-background: rgba(14, 14, 27, 0.61) !important; 
  --panel-color: #cdd6f4 !important; 
  
}
#confirmation-hint {
  --arrowpanel-color: var(--sidebar-text-color) !important;
}

.menu-iconic-left {
  margin-inline-start: -2px !important;
  filter: grayscale(1) brightness(1.5) !important;
}

/* Fix padding for extensions-related context menu on Windows */
menu>.menu-iconic-text,
menuitem>.menu-iconic-text {
  padding-inline-start: calc(var(--fp-contextmenu-menuicon-margin-inline) - 10px) !important;
}

/* Fix padding for "Tabs on the right" & "Compact Mode" options on Windows */
menuitem[checked="true"]>.menu-iconic-text {
  padding-inline-start: 10px !important;
}

#zen-toolbar-context-tabs-right {
  padding-inline-start: 34px !important;
}

#zen-toolbar-context-tabs-right[checked="true"] {
  padding-inline-start: 8px !important;
}

/* extra padding for "Compact Mode" option */
/* #zen-context-menu-compact-mode {
  padding-inline-start: calc(var(--fp-contextmenu-menuitem-padding-inline) + 18px + var(--fp-contextmenu-menuicon-margin-inline)) !important;
} */

#zen-context-menu-compact-mode-hide-sidebar,
#zen-context-menu-compact-mode-hide-toolbar,
#zen-context-menu-compact-mode-hide-both {
  padding-inline-start: 40px !important;
}

#zen-context-menu-compact-mode-hide-sidebar[checked="true"],
#zen-context-menu-compact-mode-hide-toolbar[checked="true"],
#zen-context-menu-compact-mode-hide-both[checked="true"] {
  padding-inline-start: 16px !important;

  & .menu-iconic-text {
    padding-inline-start: 2px !important;
  }
}
#tabContextMenu, #contentAreaContextMenu {
  --num-of-buttons-in-menu: 4;
  --translation-factor: calc(var(--panel-width, 282px) / var(--num-of-buttons-in-menu));
  --button-width: calc(var(--translation-factor) - 8px);
  --button-height: 40px;
  width: 285px !important;
}
menupopup, panel[type="arrow"]:not(#feature-callout){
  @media (-moz-windows-mica-popups){
    --panel-background: light-dark(rgb(249, 249, 251), rgb(43, 42, 51)) !important;
    opacity: 0.9 !important;
    backdrop-filter: blur(10px) !important;
  }
}










